extends layout

block content
  #mySidenav.sidenav
    .closebtn ×
    a(href='#') About
    a(href='#') Services
    a(href='#') Clients
    a(href='#') Contact
  .hero
    .hero-inner
      img#center(src="/images/icon.png", alt="")
      a(href=""): img#top(src="/images/home.png", alt="")
      a(href=""): img#left(src="/images/menu.png", alt="")
      a(href=""): img#right(src="/images/order.png", alt="")
      a(href=""): span#scroll SCROLL
        br  
        i.fas.fa-arrow-down
      span#open
        .bar1
        .bar2
        .bar3 
  .wrapper
    .container#intro
      .row
        .col.sm
          img.img-fluid(src="/images/pizza.png", alt="") 
        .col.sm
          h1 
            span 
              em Welcome 
            br
            strong to Junior's Pizzeria
          p.
            We are a family owned pizza shop, that has been open since 2001.
            We aim to create an experience with all of our customers, through the tale of
            our pizza. Each one of our pizza has a story behind it. 
    .container#sample
      h1 
        span 
         em We serve
        br
        strong delicious food
      p#subtitle
        |Each bite different from the last. 
      .card-deck
        .card#no-border
          img.card-img-top(src='https://images.unsplash.com/photo-1535701796775-7f34b53736e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='...')
          .card-body
            h5.card-title 
              .row
                .col-sm
                  |Veggie Mix
                .col-sm#price
                  |$10.75
            p.card-text
              | Thin crust mixed with tomato sauce and variation of vegetables
        .card#no-border
          img.card-img-top(src='https://images.unsplash.com/photo-1536892792146-b8a4bccebfb4?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60', alt='...')
          .card-body
            h5.card-title 
              .row
                .col-sm
                  |Steaker
                .col-sm#price
                  |$14.65
            p.card-text 
              |steak paired with thinly cut tomato and american cheese
        .card#no-border
          img.card-img-top(src='https://images.unsplash.com/photo-1527133256227-fc3549f55332?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='...')
          .card-body
            h5.card-title
              .row
                .col-sm
                  |Mac Attack
                .col-sm#price
                  |$12.86
            p.card-text
              | The famous mac and cheese pizza
      .card-deck
        .card#no-border
          img.card-img-top(src='https://images.unsplash.com/photo-1499778003268-cbafc6d08bab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80', alt='...')
          .card-body
            h5.card-title 
              .row
                .col-sm
                  |Leafer
                .col-sm#price
                  |$13.31
            p.card-text
              | All vegan pizza with perfectly cooked tofus
        .card#no-border
          img.card-img-top(src='https://images.unsplash.com/photo-1528137973883-41b75386f217?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80', alt='...')
          .card-body
            h5.card-title 
              .row
                .col-sm
                  |Tomato attack
                .col-sm#price
                  |$14.65
            p.card-text 
              | Double tomato sauce with small slice of peperoni
        .card#no-border
          img.card-img-top(src='https://images.unsplash.com/photo-1536090219743-b4d977a0d9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80', alt='...')
          .card-body
            h5.card-title
              .row
                .col-sm
                  |Ranch
                .col-sm#price
                  |$16.10
            p.card-text
              | Chicken mixed with broccoli swiss cheese and of course ranch sauce
    .container-fluid#fresh
      h1 Natural ingredients and testy food
      a(href="")
        button.btn.btn-warning Menu
    .container#mix
      h1 
        span 
         em 
          |Create 
        strong your own style
        span
          em pizza
      p#subtitle.text-center
        |Mix and match any selection of topping and sides
      .row
        .col-sm
          h2#number 
            strong 01.
          .container#types
            h3 Veggie 
            p
              |We have a vast selection of meat ranging from 
              ul
                li Broccoli
                li Tomato
                li Spinach and many more
            h6
              strong $1.50 per topping
        .col-sm
          img#sides(src="https://images.unsplash.com/photo-1540420773420-3366772f4999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=631&q=80", alt="")
      .row
        .col-sm.order-md-12
          h2#number
              strong 02.
          .container#types
            h3 Meat
            p
              |We have a vast selection of meat ranging from 
              ul
                li Chicken
                li Ham
                li Sausage and many mores
            h6
              strong $1.50 per topping 
        .col-sm.order-md-1
          img#sides(src="https://images.unsplash.com/photo-1546959673-47ea2a35bd06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80", alt="") 
      .row
        .col-sm
          h2#number
            strong 03.
          .container#types
            h3 Cheese
            p
              |We have a vast selection of meat ranging from 
              ul
                li Cheddar
                li Swish 
                li American and many mores
            h6
              strong $1.50 per topping 
        .col-sm
          img#sides(src="https://images.unsplash.com/photo-1541696303913-8668e3f7e9fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="")  
