doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(rel="stylesheet", type="text/css",href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/main.js")
    
  body
    block content
    .container-fluid#footer
      .row
        .col-sm-6
          h5#price Opening Hours
          p Mon-Fri .............. 9 am - 6 pm
          p Sat-Sun .............. 9 am - 4 pm
          p Holidays ............. 10 am - 1 pm
        .col-sm-6
          h5#price Contact Us
          p
            i.fas.fa-map-marker-alt &nbsp; 1234 Manhattan NY, 12345
          p
            i.fas.fa-phone &nbsp; 123-456-7890
      .row#copyright
        .col-sm-12
          p copyright 
            i.far.fa-copyright 2019 All rights reserved. Created by Otis Kelley


        
