extends layout
block content
    .container-fluid#menu
        .head
            h1.head-title 
                em Our Menu
            h4.head-title Fresh and All natural ingredients
    .container#sample
        h1
            span#price
                em All day Menu
            br
            strong delicious food
        .card-deck
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1535701796775-7f34b53736e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Veggie Mix
                        .col-sm#price
                            |$10.75
                    p.card-text
                        | Thin crust mixed with tomato sauce and variation of vegetables
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1536892792146-b8a4bccebfb4?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Steaker
                        .col-sm#price
                            |$14.65
                    p.card-text 
                        |steak paired with thinly cut tomato and american cheese
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1527133256227-fc3549f55332?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='...')
                .card-body
                    h5.card-title
                    .row
                        .col-sm
                            |Mac Attack
                        .col-sm#price
                            |$12.86
                    p.card-text
                        | The famous mac and cheese pizza
        .card-deck
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1499778003268-cbafc6d08bab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Leafer
                        .col-sm#price
                            |$13.31
                    p.card-text
                        | All vegan pizza with perfectly cooked tofus
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1528137973883-41b75386f217?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Tomato attack
                        .col-sm#price
                            |$14.65
                    p.card-text 
                        | Double tomato sauce with small slice of peperoni
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1536090219743-b4d977a0d9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80', alt='...')
                .card-body
                    h5.card-title
                    .row
                        .col-sm
                            |Ranch
                        .col-sm#price
                            |$16.10
                    p.card-text
                        | Chicken mixed with broccoli swiss cheese and of course ranch sauce
        .card-deck
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1458642849426-cfb724f15ef7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Black Olive pep
                        .col-sm#price
                            |$11.12
                    p.card-text
                        | Black olives mixed with peperoni, cheddar, and american cheese
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Cheese pizza
                        .col-sm#price
                            |$7.27
                    p.card-text 
                        |The traditional plain cheese pizza
            .card#no-border
                img.card-img-top(src='https://images.unsplash.com/photo-1516697073-419b2bd079db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80', alt='...')
                .card-body
                    h5.card-title
                    .row
                        .col-sm
                            |The Ham special
                        .col-sm#price
                            |$15.10
                    p.card-text
                        | Ham mixed with extra american cheese and mushroom
            
            