extends layout
block content
    .container-fluid#menu
        .head
            h1.head-title 
                em Our Menu
            h4.head-title Fresh and All natural ingredients
    .container#sample
        h1
            span#price
                em All day Menu
            br
            strong delicious food
        .card-deck
            .card#no-border
                img.card-img-top(src='/images/veggie-mix.jpeg', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Veggie Mix
                        .col-sm#price
                            |$10.75
                    p.card-text
                        | Thin crust mixed with tomato sauce and variation of vegetables
            .card#no-border
                img.card-img-top(src='/images/steaker.jpeg', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Steaker
                        .col-sm#price
                            |$14.65
                    p.card-text 
                        |steak paired with thinly cut tomato and american cheese
            .card#no-border
                img.card-img-top(src='/images/mac.jpeg', alt='...')
                .card-body
                    h5.card-title
                    .row
                        .col-sm
                            |Mac Attack
                        .col-sm#price
                            |$12.86
                    p.card-text
                        | The famous mac and cheese pizza
        .card-deck
            .card#no-border
                img.card-img-top(src='/images/leafer.jpeg', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Leafer
                        .col-sm#price
                            |$13.31
                    p.card-text
                        | All vegan pizza with perfectly cooked tofus
            .card#no-border
                img.card-img-top(src='/images/tomato.jpeg', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Tomato attack
                        .col-sm#price
                            |$14.65
                    p.card-text 
                        | Double tomato sauce with small slice of peperoni
            .card#no-border
                img.card-img-top(src='/images/ranch.jpeg', alt='...')
                .card-body
                    h5.card-title
                    .row
                        .col-sm
                            |Ranch
                        .col-sm#price
                            |$16.10
                    p.card-text
                        | Chicken mixed with broccoli swiss cheese and of course ranch sauce
        .card-deck
            .card#no-border
                img.card-img-top(src='/images/olive.jpeg', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Black Olive pep
                        .col-sm#price
                            |$11.12
                    p.card-text
                        | Black olives mixed with peperoni, cheddar, and american cheese
            .card#no-border
                img.card-img-top(src='/images/cheese.jpeg', alt='...')
                .card-body
                    h5.card-title 
                    .row
                        .col-sm
                            |Cheese pizza
                        .col-sm#price
                            |$7.27
                    p.card-text 
                        |The traditional plain cheese pizza
            .card#no-border
                img.card-img-top(src='/images/ham.jpeg', alt='...')
                .card-body
                    h5.card-title
                    .row
                        .col-sm
                            |The Ham special
                        .col-sm#price
                            |$15.10
                    p.card-text
                        | Ham mixed with extra american cheese and mushroom
        .container.menu-order#order
            h1 Place Your 
                span#price Order
            form
                .row
                    .col-3
                        label(for="name") Name
                        input#name.form-control(type='text')
                    .col-6
                        label(for="address") Address
                        input#address.form-control(type='text')
                    .col-3
                        label(for='pizzaSelector') Pizza
                        select#pizzaSelector.form-control
                            option
                            option Veggie mix &nbsp; $10.75
                            option Steaker &nbsp; $14.65
                            option Mac Attack &nbsp; $12.86
                            option Leafer &nbsp; $13.31
                            option Tomato Attack &nbsp; $ 14.65
                            option Ranch &nbsp; $16.10
                            option Black Olive Pep &nbsp; $11.12 
                            option Cheese Pizza &nbsp; $7.27
                            option The Ham Special &nbsp; $15.10
                a(href="javascript:void(0)")#menu-order
                    .btn Submit Order      
            