body {
  padding: 0;
  margin: 0;
}
/**********************
   Layout
**********************/

/* side nav */
#open{
  position: fixed;
  left: .8%;
  padding: .5% .5% .5% .5%;
  margin-top: 2%;
  background-color: #EB7023;
  z-index: 100;
}
.isFixed{
  display: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #EB7023;
  text-decoration: none;
}
.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtn:hover{
  color: #EB7023;
}

/* Icon animation */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* Footer */
#footer{
  font-family: 'Montserrat', sans-serif;
  background-color: #131230;
  color: white;
  padding-top: 3%;
  padding-left: 20%;
  padding-bottom: 3%;
  border-top: #818181 solid .5px;
}
#footer p{
  color: #818181;
}

#copyright{
  padding-top: 3%;
}

/**********************
    INDEX PAGE HEADER
**********************/
.hero{
   /* Sizing */
   width: 100%;
   height: 100vh;
   
   /* Flexbox stuff */
   display: flex;
   justify-content: center;
   align-items: center;
   
   /* Text styles */
   text-align: center;
   color: white; /* ADD THIS LINE */
   
   /* Background styles */
   background-image: url('https://images.unsplash.com/photo-1529687689219-26c9753fd19a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
#center{
  width: 20em;
}
#top{
  position: absolute;
  width: 7em;
  top: 7%;
  left: 46%;
  transition: all .2s ease-in-out;
}
#left{
  position: absolute;
  width: 7em;
  left: 27%;
  top: 40%;
  transition: all .2s ease-in-out;
}
#right{
  position: absolute;
  width: 7em;
  top: 40%;
  right: 27%;
  transition: all .2s ease-in-out;
}
#top:hover,#left:hover,#right:hover{
  transform: scale(1.1);
}
#scroll{
  position: absolute;
  font-size: 1.4em;
  top: 80%;
  left: 47%;
  color: #EB7023;
  transition: all .2s ease-in-out;
}
#scroll:hover{
  transform: scale(1.1);
}

.wrapper{
  position: relative;
  padding-top: 1%;
  padding-bottom: 0;
  border-bottom: #818181 solid 1px;
}
#intro{
  width: 100%;
  background: white;
  text-align: justify;
  padding-top: 15%;
  padding-bottom: 15%;
}
#intro h1{
  font-family: 'Montserrat', sans-serif;
  padding-top: 10%;
  line-height: 1.3em;
  padding-bottom: 6%;
}
#intro span{
  color: #EB7023;
}
#intro p{
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: #818181; 
}
#intro img{
  width: 80%;
  height: auto;
  /* object-fit: cover; */
}
#sample{
  width: 100%;
  background: white;
  margin-bottom: 6%;
}
#sample h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3em;
  padding-bottom: 2%;
}
#sample span{
  color: #EB7023;
}
#subtitle{
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: #818181; 
}

/* CARD STYLE */
#no-border{
  border: none;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5%;
}
.card img{
  height: 15em;
  width: 100%;
  transition: all .2s ease-in-out;
}
.card:hover img{
  transform: scale(1.01);
}
.card:hover .card-body{
  background: rgb(250, 163, 109);
}
.card:hover #price{
  color: black;
}
.card:hover .card-text{
  color: black;
}
.card-body{
  background: #f9f9ff;
}
.card-text{
  font-family: 'Montserrat', sans-serif;
  color: #818181; 
}
#price{
  color: #EB7023;
  font-family: 'Montserrat', sans-serif;
}

/* Fresh ingre */
#fresh{
  height: 40vh;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5%;
  margin-bottom: 7%;
  
  font-family: 'Montserrat', sans-serif;
   /* Text styles */
  text-align: center;
  color: white;
  font-weight: bold;

  background-image: url('https://images.unsplash.com/photo-1533841175647-39fea57b86ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#fresh .btn{
  margin-top: 2%;
}

/* Mix and match */
#mix{
  width: 100%;
  background: white;
  margin-bottom: 4%;
}
#mix h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3em;
  padding-bottom: 1%;
  text-align: center;
}
#mix h2{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3em;
  font-size: 2.5em;
}
#mix span{
  color: #EB7023;
}
#types{
  padding-left: 13%;
}
#types p{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: #818181; 
}
#types ul{
  color: #818181;
}
#types h3, #types h6{
  color: #EB7023;
}
#sides{
  width: 90%;
  height: 18em;
  object-fit: cover;
  margin-bottom: 15%;
}
/* place order */
.place-order{
  height: 50vh;
  padding-left: 0;
  padding-right: 0;
  /* padding-top: 5%; */
  
  font-family: 'Montserrat', sans-serif;
   /* Text styles */
  text-align: center;
  color: white;
  font-weight: bold;

  /* background-image: url('https://images.unsplash.com/photo-1534963063257-6b65b54e438b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80'); */
  background-size: cover;
  background-position:  bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.place-order img{
  width: 100%;
  height: 50vh;
  z-index: 10;
  object-fit: cover;
  filter: grayscale(40%);
  filter: blur(1px);
  position: absolute;
  left: 0;
}
.order-wrapper{
  padding-top: 5%;
  left: 20%;
  z-index: 20;
  position: absolute;
}
.order-wrapper .btn{
  margin-top: 5%;
  background-color: #EB7023;
}
.order-wrapper .btn:hover{
  background-color: rgb(167, 84, 32)
}

/************************* 
        Menu page style
**************************/
#menu{
  height: 50vh;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5%;
  margin-bottom: 9%;
  
  font-family: 'Montserrat', sans-serif;
   /* Text styles */
  text-align: center;
  color: white;
  font-weight: bold;

  background-image: url('https://images.unsplash.com/photo-1513423891812-4501a8308b9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position:  bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
 object-position: bottom;
}
.head{
  padding-top: 5%;
}
.head-title{
  color: white;
  font-weight: bold
}
.menu-order{
  text-align: center;
}
.menu-order .btn{
  margin-top: 5%;
  background-color: #EB7023;
  color: black;
}
.menu-order .btn:hover{
  background-color: rgb(167, 84, 32);
}
.menu-order input, .menu-order select{
  border-color: #EB7023;
}

/************************* 
        Media queries
**************************/
@media screen and (min-width: 300px)  {
  #center{
    width: 15em;
  }
  #top{
    width: 5em;
    left: 10%;
    top: 23%;
  }
  #left{
    width: 5em;
    top: 23%;
    left: 41%;
  }
  #right{
    width: 5em;
    top: 23%;
    right: 9%;

  }
  #scroll {
    font-size: 1.5em;
    top: 70%;
    left: 39%;
  }
  #intro-img{
    display: none;
  }
  #intro h1{
    font-size: 2em;
  }
  #sample h1 {
    font-size: 2em;
  }
  #fresh h1{
    padding-top: 19%;
    font-size: 2em;
  }
  #mix h1{
    font-size: 2em;
  }
  #subtitle{
    font-size: 1.1em;
  }
  #number strong{
    font-size: .9em;
  }
  #types h3{
    font-size: 1.5em;
  }
  .order-wrapper{
    left: 0;
    padding: 20% 5% 0 5%;
  }
  .order-wrapper h1{
    font-size: 2em;
  }
  .order-wrapper form{
    padding-top: 6%;
  }
  .order-wrapper .btn{
    margin-top: 10%;
  }
  #footer{
    padding-left: 15%;
  }

  /* MENU */
  #sample .card-deck .col-sm{
    width: 50%;
  }
  .menu-order {
    margin-top: 5%;
  }
  .head {
    padding-top: 30%;
  }
}
@media screen and (min-width: 600px)  {
  #center{
    width: 20em;
  }
  #top{
    width: 7em;
    top: 20%;
    left: 44%;
  }
  #left{
    width: 7em;
    left: 10%;
    top: 44%;
  }
  #right{
    width: 7em;
    top: 44%;
    right: 10%;
  }
  #scroll{
    font-size: 2em;
    top: 80%;
    left: 43%;
  }
  #intro-img{
    display: block;
  }
  #intro img{
    width: 80%;
    padding-top: 18%;
  }
  #sample .card-deck .col-sm {
    width: 60%;
  }
  #fresh h1 {
    padding-top: 17%;
    font-size: 2.5em;
  }
  #mix h1 {
    font-size: 2.5em;
  }
  #number strong {
    font-size: 1em;
  }
  #types h3 {
    font-size: 1.8em;
  }
  #fresh .btn {
    margin-top: 5%;
    width: 20%;
    font-size: 1.5em;
  }
  .order-wrapper h1 {
    font-size: 3em;
  }
  .order-wrapper .btn {
    margin-top: 9%;
    width: 30%;
    font-size: 1.5em;
  }
  label{
    font-size: 1.5em;
  }
  .order-wrapper {
    padding: 15% 5% 0 5%;
  }
  #footer{
    padding-left: 15%;
  }

  /* MENU */
  #menu h1{
    font-size: 4.5em;
  }
  #menu h4{
    font-size: 2.2em;
  }
  .head {
    padding-top: 18%;
  }
  #sample h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1000px) {
  #center {
    width: 26em;
  }
  #left {
    width: 11em;
    left: 6%;
    top: 43%;
  }
  #right{
    width: 11em;
    right: 6%;
    top: 43%;
  }
  #top {
    width: 11em;
    top: 18%;
    left: 42%;
  }
  #scroll {
    font-size: 2.5em;
    top: 78%;
    left: 42%;
  }
  #intro h1 {
    font-size: 3em;
  }
  #intro img {
    padding-top: 10%;
  }
  #sample h1 {
    font-size: 3em;
  }
  #subtitle {
    font-size: 1.8em;
  }
  #fresh h1 {
    font-size: 3em;
  }
  #mix h1 {
    font-size: 3em;
  }
  #subtitle {
    font-size: 2em;
  }
  .order-wrapper {
    left: 9%;
    padding: 20% 5% 0 5%;
  }
  .order-wrapper h1 {
    font-size: 4em;
  }
  #footer {
    padding-left: 10%;
  }
}
@media screen and (min-width: 1200px){
  #center{
    width: 20em;
  }
  #top{
    width: 7em;
    top: 7%;
    left: 46%;
  }
  #left{
    width: 7em;
    left: 27%;
    top: 40%;
  }
  #right{
    width: 7em;
    top: 40%;
    right: 27%;
  }
  #scroll{
    font-size: 1.4em;
    top: 80%;
    left: 47%;
  }
  #intro-img{
    padding-left: 3%;
  }
  #intro img{
    width: 60%;
  }
  #subtitle{
    font-size: 1.2em;
  }
  #sample h1{
    font-size: 2.5em;
  }
  #fresh h1 {
    font-size: 2.5em;
    padding-top: 1%;
  }
  #fresh .btn {
    margin-top: 2%;
    width: 10%;
    font-size: 1.2em;
  }
  #mix h1 {
    font-size: 2.5em;
  }
  #subtitle {
    font-size: 1em;
  }
  #types h3 {
    font-size: 1.5em;
  }
  .order-wrapper h1 {
    font-size: 2em;
  }
  .order-wrapper {
    left: 18%;
    padding: 4% 5% 0 5%;
  }
  label {
    font-size: 1em;
  }
  .order-wrapper .btn {
    margin-top: 6%;
    width: 20%;
    font-size: 1em;
  }
  #footer {
    padding-left: 20%;
  }

  /* MENU */
  .head {
    padding-top: 4%;
  }
  #menu h1 {
    font-size: 3em;
  }
  #menu h4 {
    font-size: 2em;
  }
  #sample h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1400px) {
  #center {
    width: 23em;
  }
  #top {
    width: 8em;
    top: 12%;
    left: 46%;
  }
  #left {
    width: 8em;
    top: 43%;
    left: 25%;
  }
  #right {
    width: 8em;
    top: 43%;
    right: 25%;
  }
  #scroll {
    font-size: 2em;
    left: 46%;
  }
  #intro p {
    font-size: 1.5em;
  }
  #fresh h1 {
    padding-top: 2%;
  }
  #fresh .btn {
    margin-top: 2%;
  }
  #mix h1 {
    margin-bottom: 2%;
  }
  .order-wrapper {
    left: 18%;
    padding: 5% 5% 0 5%;
  }
  #footer {
    padding-left: 20%;
  }

  /* MENU */
  .head {
    padding-top: 5%;
  }
}
